* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; 

}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid darkgray;
}

#LogoLink {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

#LogoLink,h1,h2,h3,h4,h5,h6 {
    font-family: 'Lora', serif;
    font-weight: 600;
}
nav {
    display: none;
}
section {
    padding-top: 47px;
    padding-bottom: 47px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
p {
    color: rgb(67, 45, 45);
    max-width: 700px;
}

#section-about {
    background-color: rgb(219, 219, 219);
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2em;

}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.3s ease-in;

}
.CalltoAction {
    
    gap: 1.5rem;
    background-color: black;
    color: white;
    
    
}.CalltoAction:hover {
    background-color: rgb(71, 69, 69);
}
.buttonSecondary {
   
    color: black;
    
    border: 1px solid black;
}
.buttonSecondary:hover {
    background-color: black;
    color: white;
}
.blog-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}
.blog p {
    font-size: 0.9rem;
}
h3 {
    margin-bottom: 1rem;
}
.blog img {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .buttonHolder {
        flex-direction: row;
    }
    .blog-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
@media only screen and (min-width: 768px) {
    #MenuButton {
        display: none;
    }
    nav {
        display: block;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;
    }
    nav ul a {
        text-decoration: none;
        color: rgb(47, 34, 34);
    }
    .blog-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media only screen and (min-width: 992px) {
    .blog-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
@media only screen and (min-width: 1200px) {
    .blog-list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}
    
